{% extends "productos/base.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
    <h3>Agregar un producto</h3>
    <hr>
    <br><br>
    <form action="agregar_producto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col s3 offset-s3">
                <label>Código :</label><input type="number" name="numero">
            </div>
            <div class="col s3">
                <label>Nombre  :</label><input type="text" name="nombre">
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s3">
                <label>Stock   :</label><input type="number" name="stock">
            </div>
            <div class="col s3">
                <label>Precio  :</label><input type="number" name="precio">
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s3">
                <label>Tipo  :</label>
                <div class="input-field ">
                    <select name="tipo">
                        <option value="" disabled selected>Elige alguna opcion</option>
                        <option value="Calzado">Calzado</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Accesorios">Accesorios </option>
                        <option value="Vestidos">Vestidos </option>
                    </select>
                </div>
            </div>
            <div class="col s3">
                <label>Foto  :</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Archivo</span>
                        <input type="file" name="foto">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s3 offset-s5">
                <a class="waves-effect waves-light btn"><input type="submit" name="opcion" value="Grabar"></a>
                <a href="administrar" class="waves-effect waves-light btn">Cancelar</a>
            </div>
        </div>

    </form>
{% endblock %}

{% block javascript%}

{% endblock %}

