{% extends "productos/base.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
    <h3>Datos del producto encontrado</h3>

    <div class="row">
        <div class="col s4 offset-s4">
            <center>
            Llego el producto numero: {{ producto.numero }} sus datos son: <br>
                Nombre: {{ producto.nombre}} <br>
                Precio: ${{producto.precio}} <br>
                Stock: {{producto.stock}}
            <br>
            <img src="{{producto.foto.url}}" height="250" width="250">
            </center>
            <br>
            <br>
            <center><a href="administrar" class="waves-effect waves-light btn">VOLVER</a></center>
        </div>
    </div>
{% endblock %}

{% block javascript%}
{% endblock %}
